body{
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    border: 7px solid red;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px -3px 5px rgba(213, 1, 245, 0.971);
    width: 300px;
}

.row{
    display: flex;
    flex-flow: row;
    /*flex-direction: row;
    justify-content: space-around;*/
    flex-wrap: space-evenly;
}

