body {
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.child{
    background-color: gold;
}

#wrapper {
    display: grid;
    grid-template-areas:
    "header header header"
    "lside main rside"
    "footer footer footer";
}

header {
    grid-area: header;

}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

nav {
    grid-area: lside
}