body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  

  header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: green;
    color: black;
    text-align: center;
    padding: 15px;
  }
  

  nav {
    font-family: serif;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 179, 0);
    padding: 10px;
  }
  
  nav a {
    color: black;
    display: block;
  }
  

  .container {
    display: flex;
  }
  

  aside {
    width: 25%;
    background-color: rgba(255, 255, 0, 0.517);
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  

  main {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  

  .card img {
    width: 100%;
  }

  .card {
    width: 250px;
    border: thin solid black;
    flex-wrap: wrap;
  }
  

  footer {
    background-color: yellowgreen;
    display: grid;
    gap: 5px;
    padding: 10px;
  }
  
  footer a {
    color: black;
  }

  .linkarea {
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }